<template name="home">
  <div class="template-home">
    <div class="page-header">
      <h1>emailAI</h1>
    </div>
    <div class="container-fluid">
      <div class="panel panel-default text-center">
        <!--TODO: fix styling -->
        <img id="brand-image" src="https://cloud.githubusercontent.com/assets/955730/13084450/4d9e6866-d48e-11e5-88b6-8cf6482c0709.png" class="img-responsive center-block" />
        <h4>Welcome</h4>
          <p>
            <li> emailAssistant (or emailAI) is currently a backend service that can be used to proofread emails, essays, etc.</li>
            <li> Our platform analyzes emotional context used within text and returns the analytical results to the user. </li>
          </p>
          <button class="btn btn-info btn-raised" href="#">Learn More</button>
      </div>
    </div>
  </div>
</template>
