<template name="dashboard">
  {{#if currentUser}}
    <div class="template-dashboard">
      <!-- dashboard temp -->
      <div id="wrapper">
        <div id="page-wrapper">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">Dashboard</h1>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-envelope fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <!-- TODO: input userData here -->
                      <div class="huge">10</div>
                      <div>New Message Anayltics!</div>
                    </div>
                  </div>
                </div>
                <a href="#">
                  <div class="panel-footer">
                    <!-- TODO: link details page -->
                    <span class="pull-left">View Details</span>
                    <span class="pull-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </span>
                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="panel panel-green">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-history fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <!-- <div class="huge">12</div> -->
                      <div>History</div>
                    </div>
                  </div>
                </div>
                <a href="#">
                  <div class="panel-footer">
                    <span class="pull-left">View History</span>
                    <span class="pull-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </span>
                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="panel panel-yellow">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-cogs fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div>Settings</div>
                    </div>
                  </div>
                </div>
                <a href="#">
                  <div class="panel-footer">
                    <span class="pull-left">View Setting</span>
                    <span class="pull-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </span>
                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="panel panel-red">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div>Support</div>
                    </div>
                  </div>
                </div>
                <a href="#">
                  <div class="panel-footer">
                    <!--TODO: link support page -->
                    <span class="pull-left">View Support</span>
                    <span class="pull-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </span>
                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
            </div>
          </div>
      
          <div class="row">
            <div class="col-lg-8">
              <!-- THIS SECTION IS FOR OVERAL DATA -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="fa fa-bar-chart-o fa-fw"></i>
                  Your Analytical Data
                  <div class="pull-right">
                    <div class="btn-group">
                      <button type="button" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle">Actions<span class="caret"></span>
                      </button>
                      <ul role="menu" class="dropdown-menu pull-right">
                        <li>
                          <a href="#">action</a>
                        </li>
                        <li>
                          <a href="#">another action</a>
                        </li>
                        <li>
                          <a href="#">another one</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="panel-body">
                  <div id="morris-area-chart"></div>
                </div>

              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="fa fa-bar-chart-o fa-fw"></i>
                  data table
                  <div class="pull-right">
                    <div class="btn-group">
                      <button type="button" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle">Actions<span class="caret"></span>
                      </button>

                    </div>
                  </div>
                </div>
                <!-- /.panel-heading-->
                <!-- QUICK DATA TABLE -->
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-8">
                      <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>Date</th>
                              <th>Time</th>
                              <th>Word Count</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>3326</td>
                              <td>10/21/2016</td>
                              <td>3:29 PM</td>
                              <td>BLANK DATA</td>
                            </tr>
                            <tr>
                              <td>3325</td>
                              <td>10/21/2016</td>
                              <td>3:20 PM</td>
                              <td>BLANK DATA</td>
                            </tr>
                            <tr>
                              <td>3324</td>
                              <td>10/21/2016</td>
                              <td>3:03 PM</td>
                              <td>BLANK DATA</td>
                            </tr>
                            <tr>
                              <td>3323</td>
                              <td>10/21/2016</td>
                              <td>3:00 PM</td>
                              <td>BLANK DATA</td>
                            </tr>
                            <tr>
                              <td>3322</td>
                              <td>10/21/2016</td>
                              <td>2:49 PM</td>
                              <td>BLANK DATA</td>
                            </tr>
                            <tr>
                              <td>3321</td>
                              <td>10/21/2016</td>
                              <td>2:23 PM</td>
                              <td>BLANK DATA</td>
                            </tr>
                            <tr>
                              <td>3320</td>
                              <td>10/21/2016</td>
                              <td>2:15 PM</td>
                              <td>BLANK DATA</td>
                            </tr>
                            <tr>
                              <td>3319</td>
                              <td>10/21/2016</td>
                              <td>2:13 PM</td>
                              <td>BLANK DATA</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                    </div>
                  </div>

                </div>

              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="fa fa-clock-o fa-fw"></i>
                  Realtime Messages</div>

                <div class="panel-body">
                  <ul class="timeline">
                    <li>
                      <div class="timeline-badge">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Lorem ipsum dolor</h4>
                        </div>
                        <div class="timeline-body">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam dolor perspiciatis omnis exercitationem. Beatae, officia pariatur? Est cum veniam excepturi. Maiores praesentium, porro voluptas suscipit facere rem dicta, debitis.</p>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="timeline-badge warning">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Lorem ipsum dolor</h4>
                        </div>
                        <div class="timeline-body">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem quibusdam, tenetur commodi provident cumque magni voluptatem libero, quis rerum. Fugiat esse debitis optio, tempore. Animi officiis alias, officia repellendus.</p>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium maiores odit qui est tempora eos, nostrum provident explicabo dignissimos debitis vel! Adipisci eius voluptates, ad aut recusandae minus eaque facere.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge danger">
                        <i class="fa check"></i>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Lorem ipsum dolor</h4>
                        </div>
                        <div class="timeline-body">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus numquam facilis enim eaque, tenetur nam id qui vel velit similique nihil iure molestias aliquam, voluptatem totam quaerat, magni commodi quisquam.</p>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Lorem ipsum dolor</h4>
                        </div>
                        <div class="timeline-body">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut debitis!</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge info">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Lorem ipsum dolor</h4>
                        </div>
                        <div class="timeline-body">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.</p>
                          <hr/>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Lorem ipsum dolor</h4>
                        </div>
                        <div class="timeline-body">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam. Officia quam qui adipisci quas consequuntur nostrum sequi. Consequuntur, commodi.</p>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="timeline-badge success">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Lorem ipsum dolor</h4>
                        </div>
                        <div class="timeline-body">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt obcaecati, quaerat tempore officia voluptas debitis consectetur culpa amet, accusamus dolorum fugiat, animi dicta aperiam, enim incidunt quisquam maxime neque eaque.</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>

              </div>

            </div>
            <div class="col-lg-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="fa fa-bell fa-fw"></i>
                  Notifications Panel</div>

                <div class="panel-body">
                  <div class="list-group">
                    <a href="#" class="list-group-item">
                      <i class="fa fa-envelope fa-fw"></i>
                      New Message<span class="pull-right text-muted small">
                        <em>4 minutes ago</em>
                      </span>
                    </a>
                    <a href="#" class="list-group-item">
                      <i class="fa fa-database"></i>
                      New Analytical Data Available<span class="pull-right text-muted small">
                        <em>12 minutes ago</em>
                      </span>
                    </a>
                    <a href="#" class="list-group-item">
                      <i class="fa fa-envelope fa-fw"></i>
                      Message Sent<span class="pull-right text-muted small">
                        <em>27 minutes ago</em>
                      </span>
                    </a>
                  </div>

                  <a href="#" class="btn btn-default btn-block">View alerts</a>
                </div>

              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="fa fa-bar-chart-o fa-fw"></i>
                  donut chart for data</div>
                <div class="panel-body">
                  <div id="morris-donut-chart"></div>
                  <a href="#" class="btn btn-default btn-block">View Details</a>
                </div>

              </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  {{/if}}
</template>
